@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html{
  background-color: rgba(27, 233, 147, 0.89);
  background-attachment: fixed;
  font-family: 'Balsamiq Sans', cursive;
}


.card{
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0; 
  right: 0;
  margin: auto;

  background-color: whitesmoke;
  border-radius: 10px;
  width: 50vw;
  height: 300px;
  box-shadow: 0 0 2em rgb(0, 0, 0);
  padding: 20px;

}

.positive-button{
  text-decoration: none;
  color: white;
  background-color: green;
  padding: 5px 25px ;
  border-radius: 10px;
}

.negative-button{
  color: rgb(223, 3, 3);
}